<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mascotas</title>
    <link rel="stylesheet" href="../css/styles_veterinario.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="../IMG/LOGO PAWSITIVE.png" alt="Pawsitive Care">
        <h1 class="text-logo">Pawsitive Care</h1>
      </div>
      <nav>
        <ul>
          <li><a href="http://localhost:8090/principal.html">Inicio</a></li>
          <li><a href="http://localhost:8090/Servicios.html">Servicios</a></li>
          <li><a href="http://localhost:8090/nosotros.html">Acerca de nosotros</a></li>
          <li><a href="http://localhost:8090/horarios.html">Ubicación & horarios</a></li>
          <li><a href="http://localhost:8090/peludo/all">Amigos Peludos</a></li>
          <li><a href="http://localhost:8090/login.html">Login</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="titulo">
        <h1>Mascotas</h1>
        <a
          type="button"
          th:href="@{/mascotas/agregar(veterinarioId=${veterinarioId})}"
          class="btn btn-primary"
        >
          <img src="../images/agregar.png" alt="Add" height="40px" />
        </a>
      </div>
      <div class="table-responsive">
        <table
          id="tabla"
          class="table table-striped table-bordered border-prymarix centered-table"
        >
          <thead class="table-dark">
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Nombre</th>
              <th scope="col">Raza</th>
              <th scope="col">Edad</th>
              <th scope="col">Peso</th>
              <th scope="col">Enfermedad</th>
              <th scope="col" class="botones">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="mascota : ${mascotas}" class="justify-content-center">
              <td>
                <img
                  th:src="${mascota.fotoURL}"
                  alt="Mascota"
                  style="width: 80px; height: 60px"
                />
              </td>
              <td th:text="${mascota.nombre}"></td>
              <td th:text="${mascota.raza}"></td>
              <td th:text="${mascota.edad}"></td>
              <td th:text="${mascota.peso}"></td>
              <td th:text="${mascota.enfermedad}"></td>
              <td class="botones">
                <a
                  class="btn btn-outline-secondary"
                  th:href="@{'/mascotas/modificar/' + ${mascota.id} + '?veterinarioId=' + ${veterinarioId}}"
                >
                  <img src="../images/editar.png" alt="Edit" height="40px" />
                </a>
                <a
                  class="btn btn-outline-danger"
                  th:href="@{'/mascotas/eliminar/' + ${mascota.id} + '?veterinarioId=' + ${veterinarioId}}"
                >
                  <img
                    src="../images/eliminar.png"
                    alt="Delete"
                    height="40px"
                  />
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <footer>
      <div class="social-media">
        <a href="https://www.facebook.com" target="_blank">
          <img
            src="../images/facebook (1).png"
            height="25px"
            alt="LogoFacebook"
            class="logos"
          />
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <img
            src="../images/logotipo-de-instagram.png"
            height="25px"
            alt="LogoInstagram"
            class="logos"
          />
        </a>
        <a href="https://x.com/home" target="_blank">
          <img
            src="../images/twitter.png"
            height="25px"
            alt="LogoX"
            class="logos"
          />
        </a>
      </div>
      <div id="copyright">
        <p>Copyright &copy; 2024</p>
        <p>All rights reserved</p>
      </div>
      <div id="contact">
        <p>Contáctanos</p>
        <p>+57 301 123 4567</p>
        <p>dogdog@gmail.com</p>
      </div>
    </footer>
  </body>
</html>
