<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pawsitive Care</title>
    <link rel="stylesheet" href="../css/stylesprincipal.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM0sV1FadHlAF5WjdlPaF5O/vz+biHBiSHX5v6M" crossorigin="anonymous">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../IMG/LOGO PAWSITIVE.png" alt="Pawsitive Care">
            <h1 class="text-logo">Pawsitive Care</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/principal">Inicio</a></li>
                <li><a href="/Servicios">Servicios</a></li>
                <li><a href="/nosotros">Acerca de nosotros</a></li>
                <li><a href="horarios.html">Ubicación & horarios</a></li>
                <li><a href="/amigospeludos">Amigos Peludos</a></li>
                <li><a href="/login" class="selected">Login</a></li>
            </ul>
        </nav>
    </header>

        <section class="inicio">
            <div class="iniciocontenido">
                <h1>Pawsitive Care</h1>
                <p>Amor y cuidado para cada cola feliz</p>
                <button class="button">Programar cita</button>
            </div>
            <img src="../IMG/Imagen Principal.png" alt="Happy dog" class="fotoinical">
        </section>

        <!-- Línea amarilla -->

        <!-- https://github.com/jeMartine/DpelosWeb/blob/development/dpelos/src/main/resources/templates/listaMascotas.html -->
         

        <div class="linea-amarilla"></div>

        <!-- Sección con la imagen centrada y el botón de play -->
        <section class="fotovideo">
            <div class="fotocontainer">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/x0CIUFRBgwY?si=7NiCFFiDaRQhf9-t" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen></iframe>
            </div>
        </section>

        <!-- Sección de Servicios -->
        <section class="servicios">
            <div class="texto-y-boton">
                <h2>Salud Óptima para tus Mascotas</h2>
                <p>Ofrecemos Servicios Veterinarios Integrales para asegurar el bienestar y la felicidad de tus amigos peludos. Desde chequeos regulares hasta tratamientos especializados, nuestro equipo está dedicado a proporcionar el mejor cuidado para cada etapa de la vida de tu mascota.</p>
                <button class="button">Más información</button>
            </div>
            
            <div class="servicios-container">
                <div class="servicio">
                    <h3>Examen Físico</h3>
                    <p>Chequeos completos para asegurar su bienestar</p>
                </div>
                <div class="servicio">
                    <h3>Cuidado de la Piel y Peluquería</h3>
                    <p>Mantenemos su pelaje limpio y saludable</p>
                </div>
                <div class="servicio">
                    <h3>Vacunación</h3>
                    <p>Protección esencial contra enfermedades</p>
                </div>
                <div class="servicio">
                    <h3>Nutrición</h3>
                    <p>Dieta balanceada para una vida saludable</p>
                </div>
            </div>
        </section>

    
    <footer>
        <div class="social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <p>&copy; 2024 Pawsitive Care. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
