<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pawsitive Care</title>
    <link rel="stylesheet" href="../css/stylesservicios.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
        <header>
            <div class="logo">
                <img src="../IMG/LOGO PAWSITIVE.png" alt="Pawsitive Care">
                <h1 class="text-logo">Pawsitive Care</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/principal">Inicio</a></li>
                    <li><a href="/Servicios">Servicios</a></li>
                    <li><a href="/nosotros">Acerca de nosotros</a></li>
                    <li><a href="horarios.html">Ubicación & horarios</a></li>
                    <li><a href="/amigospeludos">Amigos Peludos</a></li>
                    <li><a href="/login" class="selected">Login</a></li>
                </ul>
            </nav>
        </header>

    <main>
        <section class="intro">
            <img class="image" src="../IMG/Imagen portada.PNG" alt="Fondo de mascotas">
            <h1 class="text">¡Consiente a tus mascotas con nuestros servicios asombrosos!</h1>
        </section>

        <section class="servicio1">
            <div class="servicio-texto">
                <h2>Examen Físico</h2>
                <p>Examen completo de la nariz a la cola. Los animales son expertos en ocultar su dolor. Nuestro chequeo
                    de la nariz a la cola proporciona una revisión y análisis completos de la salud de tu mascota,
                    permitiéndonos determinar cualquier preocupación.</p>
                <p class="precio1">1hr/$80</p>
                <button>Agendar cita</button>
            </div>
            <img src="../IMG/ImagenServicio1.png" alt="Perro recibiendo examen físico">
        </section>

        <section class="servicio2">
            <div class="servicio-texto">
                <h2>Cuidado de la piel y Peluquería</h2>
                <p>El cuidado de la piel y la peluquería son fundamentales para la salud y el bienestar de tu perro. En
                    nuestra clínica, ofrecemos servicios de peluquería profesional que incluyen baño, corte de pelo,
                    cepillado y cuidado de la piel. Nuestros expertos se asegurarán de que tu perro luzca y se sienta lo
                    mejor posible, ayudando a prevenir problemas de piel y manteniendo su pelaje limpio y saludable.
                    Confía en nosotros para proporcionar el mejor cuidado posible a tu amigo peludo.</p>
                <p class="precio2">1hr/$80</p>
                <button>Agendar cita</button>
            </div>
            <img src="../IMG/ImagenServicio2.png" alt="Gato recibiendo cuidado de la piel y peluquería">
        </section>

        <section class="servicio3">
            <div class="servicio-texto">
                <h2>Vacunación</h2>
                <p>La vacunación es esencial para mantener a tu mascota saludable y protegida contra enfermedades
                    comunes y potencialmente mortales. En nuestra clínica, ofrecemos un programa de vacunación completo,
                    adaptado a las necesidades específicas de tu mascota. Nuestros expertos veterinarios se asegurarán
                    de que tu amigo peludo reciba las vacunas necesarias para una vida larga y saludable, brindándote la
                    tranquilidad de saber que está bien cuidado.</p>
                <p class="precio3">1hr/$60</p>
                <button>Agendar cita</button>
            </div>
            <img src="../IMG/ImagenServicio3.png" alt="Perro recibiendo vacunación">
        </section>

        <section class="servicio4">
            <div class="servicio-texto">
                <h2>Nutrición</h2>
                <p>Tu mascota necesita una dieta saludable y equilibrada para mantenerse en la mejor forma posible
                    durante toda su vida. Nuestros expertos en nutrición para mascotas elaborarán una dieta segura y
                    saludable para tu amigo peludo, ayudándoles a vivir una vida larga y saludable.</p>
                <p class="precio4">1hr/$60</p>
                <button>Agendar cita</button>
            </div>
            <img src="../IMG/ImagenServicio4.png" alt="Perro recibiendo vacunación">
        </section>
    

        <!-- Opiniones -->
        <section class="opiniones">
            <h2>Opiniones de Clientes</h2>
            <div class="opiniones-container">
                <div class="opinion">
                    <img src="../IMG/cliente4.png" alt="Cliente 1">
                    <p>¡El mejor servicio para mascotas! Mi perro siempre sale feliz después de cada visita.</p>
                    <p class="nombre">Juan Pérez</p>
                    <div class="rating">★★★★★</div>
                </div>
                <div class="opinion">
                    <img src="../IMG/cliente2.png" alt="Cliente 2">
                    <p>Profesionales y amables. Definitivamente recomiendo Pawsitive Care.</p>
                    <p class="nombre">Ana Gómez</p>
                    <div class="rating">★★★★★</div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <p>&copy; 2024 Pawsitive Care. Todos los derechos reservados.</p>
        </footer>
    </main>
</body>

</html>